#!/usr/bin/rc

# first arg goes to awk, the rest goes to find
# if finds args $1 contains a -, $PWD gets set as its starting point

# ----------------------- USERCONF

dir = $HOME/Notes/Langs/Awk/Commands/statfind #REPLACEMEWITHYOURPWD

# ----------------------- Functions

fn ftest { ~ $1^* $1 && return 0 || return 1 }

# ----------------------- Arg Check

awkargs=$1

switch($#*){
 case 0; args=$PWD;	awkargs='{print file}'
 case 1; args=$PWD
 case *; shift;~ $1 '-'^* && args=$PWD;args=($args $*)
}

# you could add getflags

# add -f for awk?

# ----------------------- Variables

nl=$ifs(3)

# ----------------------- Prog

# separates the fields for stat -c 
#divider	=`{ printf \r } # this could be anything, \a, \b
~ $#divider 0 && divider=''

# stat -c $format
format=`{ awk '
 BEGIN { getline; printf $0 }
 {printf("%s%s",ENVIRON["divider"],$0)}
 ' $dir/formats
}

find $args -print0 >[2] /dev/null | xargs -0 busybox stat -c $format >[2] /dev/null | awk -f $dir/module.awk -e $awkargs

