#!/usr/bin/rc

# ----------------------- USERCONF

dir = $HOME/Notes/Langs/Awk/Commands/statfind #REPLACEMEWITHYOURPWD

# ----------------------- Variables

nl=$ifs(3)

args=$*
awkarg=$*($#*) # Last arg is for gawk only

# ----------------------- Arg Check

~ $#args 0 && { echo 'ERROR: No args' > /dev/stderr ; exit 1 }
~ $#awkarg 0 && { echo 'No args for awk' > /dev/stderr ; exit 1 }

# ----------------------- Functions

fn lflat {lflat=$*;*=$($1);while(()){echo -n $1;shift;~ $#* 0&&break;echo -n $lflat(2)}}

# ----------------------- Prog

# chopping the last arg
*=$* { for (* in $args) { ~ $1 $awkarg || files=($files $1) } } 

formats=`{ cat $dir/formats } # This differs between filesystems, make a wrapper
divider	=`{ printf \r } # this could be anything, \a, \b
format	=`{ lflat formats $divider }

find $files -print0 >[2] /dev/null | xargs -0 stat -c $format >[2] /dev/null | awk -f $dir/module.awk -e $awkarg
