#!/usr/bin/rc

# will output the awk command with modules included into stdout
# you can use your shell to save this and then run a file
# useful for redirecting to a pastebin

cmd=$1
shift
cat $*
echo;echo;echo $cmd
