#!/usr/bin/rc

nl='
'

# It's okay for files to have spaces
ifs=$nl { interpreter=`{ which awk } }

ifs=() {
 forcat=(
  '#!'^$interpreter -f $nl
  `{ cat ../Units/rsfs.awk }
 )
 forcat=$^forcat
}

echo Creating:

for (* in ../Simple/*.awk) {
 ifs=($nl) { file=`{basename $*} }

 # don't create a file if it already exists
 if (! test -f $file) {
  echo '	'^$file
  echo $forcat | cat - $* > $file
 }
}
