#!/usr/bin/rc


nl='
'

echo Creating:

# It's okay for files to have spaces
ifs=$nl { interpreter=`{ which awk } }

for (* in ../Simple/*.awk) {
 ifs=($nl) { file=`{basename $*} }

 # don't create a file if it already exists
 if (! test -f $file) {
  echo '	'^$file
  echo '#!'^$interpreter^' -f' | \
   cat - ../Modules/rsfs.awk $* > $file
 }
}
